/*====TITRE====*/

.entete {
    width: auto;
    
}

.entete p {
    text-align: justify;
    padding: var(--m-2) 0;
}

/*===Sort-Bar===*/

.sort-bar {
    border: 1px solid var(--alt-font-color);
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--m-2);
    position: relative;
}

/*===SearchBar*/

.search-bar {
    padding-left: var(--m-2);
    background-color: var(--body-color);
}

.search-bar:hover {
    cursor: text;
}
.search-bar input{
    padding-left: var(--m-1);
    background: transparent;
    height: 80px;
    font-size: var(--text-font);
    width: 10ch;
    color: var(--alt-font-color);
}

.search-bar::after {
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--alt-font-color);
    right: 0;
    top: 50%;
    transition: height 0.2s ease-in-out;
}


/*===Focus search bar=== */


.search-bar input:focus{
    color: var(--main-font-color);
}

.search-bar:focus-within::after {
    height: 85px;
}


/*===Sort By===*/

.sort-by-dropdown {
    padding-right: var(--m-2);
    position: relative;
}

.sort-by-dropdown:hover {
    cursor: pointer;
}

.sort-by-dropdown::before {
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--alt-font-color);
    left: 0;
    top: 50%;
    transition: height 0.2s ease-in-out;
}

.sort-by-dropdown:focus-within:before {
    height: 80px;
}

.sort-by-dropdown select{
    background: transparent;
    border: none;
    font-size: var(--text-font);
    appearance: none;
    width: 10ch;
    margin-left: var(--m-1);
    height: 100%;
}



/*===Role===*/

.sort-by-role {
    display: flex;
    align-items: center;
}

.sort-bar .sort-by-role .role {
    background: transparent;
}

.role {
    position: relative;
    margin: 10px 20px;
}

.role:after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    width: 70px;
    transform: translateX(-50%);
    height: 0;
    border-radius: var(--small-border-radius) var(--small-border-radius) 0 0;
    background-color: var(--main-color);
}

.role.active::after {
    height: 5px;
}

.role.Tous svg {
    transform: rotate(90deg);
}

.role.active img, .role.active.Tous svg {
    filter: grayscale(0);
}

.role:hover img, .role:hover.Tous svg, .role:focus img, .role:focus.Tous svg {
    filter: grayscale(0);
}

.role img, .role.Tous svg {
    height: 40px;
    height: 40px;
    filter: grayscale(100);
    transition: all 0.1s ease-in-out;
}

.role p {
    font-size: var(--smallest-font);
}


/*====Champion===*/

.champions-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    padding-bottom: var(--m-2);
}


.champion-card {
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
    background-color: var(--secondary-color);
    border: solid 5px var(--secondary-color);
    overflow: hidden;
    clip-path: polygon(100% 0%, 100% 93%, 90% 100%, 0 100%, 0 7%, 10% 0);
    -webkit-clip-path: polygon(100% 0%, 100% 93%, 90% 100%, 0 100%, 0 7%, 10% 0);
}

.Champion-name {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
    color: white;
    font-size: var(--text-font);
    padding-left: 20px;
}

.champion-card img {
    aspect-ratio: initial;
    padding: 2px;
    width: 100%;
    height: auto;
    overflow: hidden;
    transform: scale(1.2);
    clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 19%, 29% 0);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 19%, 29% 0);
}

/*=====Hover section====*/
.champion-card,.champion-card img, .champion-card .Champion-name, .role:after, .search-bar:focus-within input {
    transition: all 0.2s ease-in-out;
}


.champion-card:hover, .champion-card:focus {
    /*
    clip-path: polygon(100% 0%, 100% 93%, 90% 100%, 0 100%, 0 0%, 0% 0);
    -webkit-clip-path: polygon(100% 0%, 100% 93%, 90% 100%, 0 100%, 0 0%, 0% 0);
    */
    background-color: var(--main-color);
    border-color: var(--main-color);
}


.champion-card:hover img, .champion-card:focus img{
    transform: scale(1.3);
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 24%, 36% 0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 25%, 34% 0);
}

.champion-card:hover .Champion-name, .champion-card:focus .Champion-name{
    padding-left: 30px;
    background-color: var(--main-color);
}


.sidebar.close + .main-content .champions-layout .champion-card {
    height: 400px;
}