@import "nav.css";
@import "layout.css";
@import "champions.css";
@import "LeaderBoard.css";

/*=================Fonts=================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*=================VARIABLE CSS=================*/
:root {
    font-size: 16px;
    /*========Colors========*/
    --hue-color: 267;
    --alt-hue-color: 0
    /*===Black===*/
    --black-color: hsl(var(--hue-color), 4%, 4%);
    --black-color-alt: hsl(267 , 0%, 22%);
    /*===Fonts===*/
    --main-font-color: hsl(var(--hue-color), 0%, 22%);
    --alt-font-color: hsl(var(--hue-color), 0%, 60%);

    /*===main color===*/
    --main-color: hsl(var(--hue-color), 95%, 76%);
    --main-color-hover: hsl(var(--hue-color), 100%, 69%);
    --main-color-light: hsl(var(--hue-color), 100%, 86%);
    --card-color: hsl(var(--hue-color), 0%, 100%);
    --card-variation-color:hsl(var(--hue-color), 33%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 96%);

    --secondary-color: hsl(230, 20%, 18%);

    /*===Other Color ===*/

    --red: hsl(359, 100%, 65%);
    --green: hsl(145, 63%, 49%);
    --blue: hsl(219, 100%, 72%);
    --orange: hsl(41, 93%, 58%);

    /*========Fonts========*/
    --body-font: 'Open Sans', sans-serif;
    --biggest-font: 4.5rem;
    --bigger-font: 4rem; 
    --h3-font: 3rem;
    --h4-font: 2.20rem;
    --text-font: 1.5rem;
    --smallest-font: 1.125rem;
    --text-line-height: 2rem;

    /*========Fonts WEIGHT========*/
    --font-medium: 500;
    --font-semi-bold: 700;

    /*========Border radius=======*/
    --big-border-radius: 30px;
    --default-border-radius: 15px;
    --small-border-radius: 5px;

    /*========Marge========*/

    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;

    /*========z-index========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========Shadow========*/
    --drop-shadow: 4px 4px 4px rgba(174, 174, 192, 25%);
    --big-drop-shadow: 10px 10px 30px rgba(174, 174, 192, 25%);
    --vertical-drop-shadow: 0px 4px 4px rgba(174, 174, 192, 25%);
    --white-drop-shadow: 4px 4px 4px #fff;

    /*========Media queries Typography========*/
}

/*========Media queries DarkMode========*/
[data-theme = dark] {
    --alt-hue-color: 230;
    --secondary-color: #AA7AFE;
    /*===Fonts===*/
    --main-font-color: hsl(var(--hue-color), 0%, 100%);

    /*===main color===*/
    --white: hsl(var(--hue-color), 0%, 100%);
    --card-color: hsl(var(--alt-hue-color), 20%, 18%);
    --card-variation-color: hsl(var(--alt-hue-color), 20%, 24%);
    --body-color: hsl(var(--alt-hue-color), 19%, 16%);
}

[data-theme = blue] {
    --alt-hue-color: 210;
    --secondary-color: hsl(267, 95%, 76%);
    /*===Fonts===*/
    --main-font-color: hsl(var(--hue-color), 0%, 100%);

    /*===main color===*/
    --white: hsl(var(--hue-color), 0%, 100%);
    --card-color: hsl(var(--alt-hue-color), 35%, 15%);
    --card-variation-color: hsl(var(--alt-hue-color), 38%, 16%);
    --body-color: hsl(var(--alt-hue-color), 34%, 13%);
}

/*=================Base CSS=================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--text-font);
    background-color: var(--body-color);
    height: auto;
    color: var(--main-font-color);
}

h1,h2,h3, p {
    color: var(--main-font-color);
}

h1,h2,h3 {
    font-weight: var(--font-medium);
}

h1 {
    font-size: var(--biggest-font);
    position: relative;
    width: min-content;
}

h1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
}

h2 {
    font-size: var(--bigger-font);
}

h3 { 
    font-size: var(--h3-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

/*=================reusable Class=================*/

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}