/*====Reuseble css=====*/
.sidebar .text {
    font-size: var(--text-font);
    font-weight: var(--font-semi-bold);
    color: white;
}

.header-text {
    margin-left: var(--m-2);
}


/*====Sidebar css=====*/
.sidebar .image-wrapper img {
    max-width: 100px;
}

.sidebar {
    background-color: var(--main-color);
    /*border-radius: 0 30px 30px 0;*/
    padding: 10px 14px;
}

.image-wrapper {
    display: flex;
}

.navLink {
    display: flex;
    align-items: center;
}

.sidebar .menu-wrapper {
    height: calc(100% - 110px);
    justify-content: space-between;
}

/*====switch theme css=====*/

.menu-wrapper .mode {
    background-color: var(--main-color-light);
    width: 100%;
    height: 100%;
}

.menu-wrapper .mode p.text {
    padding-right: var(--m-0-5);
    color: var(--main-font-color);
}
.menu-wrapper .mode .moon-sun{
    width: 50px;
    height: 50px;
}

.menu-wrapper .mode img{
    position: absolute;
}

.menu-wrapper .mode img.light, .menu-wrapper .mode img.blue{
    opacity: 0;
}

.menu-wrapper .mode .toggle-switch{
    height: 100%;
    min-width: 60px;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 30px;
    background-color: var(--alt-font-color);
}

.switch::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: white;
}

/*====Links css=====*/

.links, .mode {
    padding-left: var(--m-1-5);
}

.nav-links {
    margin-top: var(--m-2);
}